mochawesome-report/
node_modules/
report/
.DS_Store

# Temporary Cypress files
cypress/downloads
cypress/screenshots
cypress/videos

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
